/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*BODY*/
body {
  background-color: rgb(21, 32, 43);
  color: rgb(245, 246, 247);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*HEADER*/ /*FOOTER*/
header,
footer {
  background-color: rgb(15, 23, 31);
  width: 100%;
  text-align: center;
  padding: 2rem;
  line-height: 30px;
}
header {
  position: sticky;
  top: 0;
}

footer {
  position: sticky;
  bottom: 0;
}

/*MAIN*/

main {
  flex: 1;
}
.container {
  background-color: rgb(30, 42, 54);
  width: 350px;
  height: 250px;

  border: 2px solid rgb(89, 92, 95);
  border-radius: 15px;
  box-shadow: 0px 10px 30px 0px rgba(245, 245, 245, 0.151);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin: 2rem;
}

.display {
  text-align: center;
  font-size: xx-large;
}
.display p {
  font-size: large;
}

button {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.144);
  border-radius: 50%;
  text-align: center;
  font-size: x-large;
}

.countbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus {
  width: 65px;
  height: 70px;

  margin: 8px;

  background-color: rgba(37, 95, 204, 0.582);
}
.negative {
  width: 45px;
  height: 50px;

  text-align: center;
  font-size: x-large;
  background-color: rgba(41, 122, 41, 0.418);
}

.reset {
  border-radius: 15px;
  width: 60px;
  font-size: x-small;
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.726);
}
